@import './reset.scss';
@import './variables';
@import './main.scss';
@import './header.scss';
@import './video.scss';
@import './form.scss';
@import './footer.scss';
@import './socialLogin.scss';
@import './videoDetail.scss';

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: lightgray;
}
