.video_detail {
  display: flex;
  flex-direction: column;

  .video_player {
    width: 100%;
    video {
      width: 100%;
    }
    .video_info {
      margin-top: 25px;
      button {
        width: 100px;
        margin-bottom: 25px;
      }
      .video_title,
      .video_views,
      .video_desc {
        display: block;
        margin-bottom: 15px;
      }

      .video_title {
        font-size: 22px;
        font-weight: 300;
      }
      .video_views {
        font-size: 14px;
      }
      .video_desc {
        font-size: 16px;
      }
    }
  }
}
